@import url(./src/main.css);
@import url(./src/header.css);

.hidden {
  transition: 1s;
  display: none;
}

html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  background-color: rgb(53, 62, 82);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("src/background.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  transition: 0s;
  overflow: hidden;
  user-select: none;
}

.corner-logo {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 10px;
  aspect-ratio: 1;
  width: 100px;
  bottom: 10px;
  max-width: 25vw;
  border-radius: 50%;
  image-rendering: pixelated;
  transition: 0.3s;
}

.corner-logo:hover {
  border-top-right-radius: 30px;
  transition: 0.3s;
}
