@import url(../src/main.css);


* {
    box-sizing: border-box;
  }
  
  .box {
    background-color: rgb(60, 63, 70);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    max-width: 1000px;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
  
  body {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    justify-content: center;
    display: flex;
    zoom: 1.5;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 20px;
  
  }
  
  .grid > article {
    border: 1px solid black;
    padding: 0 0;
    border-radius: 10px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
  }
  
  
  .grid .text {
    text-align: center;
    padding: 10px 20px 20px 30px;
    color: #808285;
    margin-bottom: -10px;  
  }

  .grid .btn {
    margin-top: 20px;
    background-color: aqua;
      border: 0;
      border-radius: 5px;
      color: #000;
      font-size: 15px;
      line-height: 50px;
      padding: 15px 10%;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }

  .btn:after {
    content: "Click to play"
  }
  
  .btn:hover {
    background: rgb(59, 255, 59);
    transition: 0.5s;
  }

  .disabled:after {
    color: red;
    content: "Comming Soon";
  }
  
  h3{ 
    color: white;
    text-align: center;
  }

  h1.title {
    color: white;
    text-align: center;
    padding: 0px;
    margin: -10px 0 20px ;
    letter-spacing: 10px;
    text-shadow: 2px 2px #999696;
  }

  h1.title:after {
    content: "Unknown Games • Library";
  }

article {
  position: relative;
}

#badgeNew{
  background-color: limegreen;
  aspect-ratio: 2;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}