@import url(../../src/main.css);
@import url(../../src/text.css);
@import url(../header.css);

div#board {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 75%;
    aspect-ratio: 2;
    background-color: #485368;
    border-radius: 10px;
    border: solid;
    border-color: gray;
}

button#dice {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    left: 30%;
    top: 50%;
    position: absolute;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

button#dice:hover {
    cursor: pointer;
}

button#coin {
    background-color: gold;
    width: 100px;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    left: 70%;
    top: 50%;
    position: absolute;
}

button#dice.wiggle {
    background-color: white;
    border-radius: 5px;
    width: 100px;
    aspect-ratio: 1;
    margin: -50px 0 0 -50px;
    position: absolute;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    animation: wiggle 150ms infinite;
    }
  
  @keyframes wiggle {
    0% {
      transform: rotate(0deg); }
    20% {
      transform: rotate(-2deg); }
    40% {
      transform: rotate(5deg); }
    60% {
      transform: rotate(-5deg); }
    80% {
      transform: rotate(2deg); }
    100% {
      transform: rotate(0deg); } 
}
  