@import url(../../src/main.css);
@import url(../header.css);

body {
    background-color: var(--bg-color);
}

.matchfield {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1200px;
    height: 600px;
    background-color: rgb(80, 165, 165);
    border-radius: 10px;
}

#clicker {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    image-rendering: pixelated;
    zoom: 5;
    display: block;
    margin: 0 auto;
}

#clicker:hover{
    zoom: 5.1;
}

#clicker:active{
    zoom: 5.3;
}
/* 
#cursor {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 1;
    width: 100px;
    pointer-events: none;
}

#cursor.clicked {
    content: url(pics/hand-hit.png);
} */