@import url(../../src/main.css);

body {

    background-color: var(--bg-color);
}

.matchfield {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1200px;
    height: 600px;
    background-color: rgb(80, 165, 165);
}