body {

    background-color: rgb(31, 31, 31);
}

.matchfield {

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: aliceblue;
    height: 100px;
    width: 60px;
}