/* MOBILE ONLY */
@media (pointer:coarse) {
    body {
        zoom: 1;
    }
}

@media (max-width: 1200px) {
    div.header{
        zoom: 1.5;
    }

    * {
        outline-offset: 10px red;
    }

    body {
        zoom: 0.5;
    }

    div.matchfield {
        position: absolute;
        top: 55%;
        zoom: 0.5;
        height:75%;
        width: 90%;
    }

    #upgradeMachine{
        zoom: 2;
    }
    #newMachine{
        zoom: 2;
    }

    #clicker {
        width: 100px;
    }

    #moneyDisplay {
        zoom: 2;
        bottom: 0;
        font-size: 200%;
    }

    div#fistDiv {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 53%;
        left: 50%;
        width: 400px;
        height: 600px;
    }

    div#hand {
        zoom: 1;
        padding: 120px;
    }

    div#moneyRewardDiv {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 20%;
        height: 800px;
        width: 500px;
    }
    
    div#moneyRewardDiv2 {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 80%;
        height: 800px;
        width: 500px;
    }

    p#moneyReward {
        font-size: 450% !important;
    }
}