/* MOBILE ONLY */
@media (pointer:coarse) {
    body {
        zoom: 1;
    }
}

@media (max-width: 1200px) {
    div.matchfield {
        position: absolute;
        top: 60%;
        zoom: 0.5;
        height:75%;
        width: 90%;
    }

    #upgradeMachine{
        zoom: 2;
    }
    #newMachine{
        zoom: 2;
    }

    #clicker {
        width: 100px;
    }

    #moneyDisplay {
        zoom: 2;
        bottom: 0;
        font-size: 200%;
    }

    div#fistDiv {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 56%;
        left: 50%;
        width: 500px;
        height: 800px;
    }
}