/* MOBILE ONLY */
@media (pointer:coarse) {
    body {
        zoom: 1;
    }

    .grid .pc:after {
        content: "PC ONLY" !important;
        color: red
      }
}

@media (max-width: 620px) {
    .box {
        zoom: 0.5;
    }

}