/* MOBILE ONLY */
@media (pointer:coarse) {
    body *{
        display: none !important;
    }

    body:after {
        background-color: rgb(220, 20, 20);
        display: block;
        content: "Game only available for PC";
        color: white;
        text-align: center;
        position: absolute;
        margin: 0;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        padding: 10px;
        border-radius: 5px;
        border-width: 1px;
        border-color: white ;
        border-style: solid;
        width: 50%;
    }
}