@import url(../../src/main.css);
@import url(../header.css);
@import url(../../src/text.css);
@import url(../../src/mobile/clickgame.css);

div#clickgame {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  aspect-ratio: 2;
  zoom: 2;
  background-color: #2253b5;
  border: solid;
  border-color: gray;
}

div#clickgame {
  cursor: pointer;
}

p#score {
  color: aliceblue;
  margin: 10px;
  font-size: 150%;
}
