:root {
    --bg-color: rgb(31 ,31 ,31);
}

*{
    user-select: none;
    font-family: UnknownFont;
}

*:focus {
    outline: none;
}


@font-face {
    font-family: UnknownFont;
    src: url('../src/TechnoFont.ttf');
}